<div class="w-screen h-screen flex flex-col bg-background-primary p-6">
  <div class="grid lg:grid-cols-2 flex-1 overflow-hidden">
    <div class="hidden lg:flex flex-col justify-center items-center px-12 xl:px-24">
      <div class="w-full max-w-xl">
        <div class="flex items-center gap-3 mb-12">
          <div class="w-20 h-20 flex items-center justify-center">
            <img src="assets/pictures/home.png" alt="Logo" class="w-16 h-16" />
          </div>
          <h1 class="text-headline-h1-36-bolid pt-2 text-text-primary"
              [innerHTML]="'authPages.solidHome' | translate">>
          </h1>
        </div>
        <h2 class="text-headline-h1-36-bolid text-text-primary mb-8 leading-tight whitespace-pre-line"
            [innerHTML]="'authPages.subTitle' | translate">
        </h2>
        <p class="text-body-16-medium text-text-primary leading-relaxed whitespace-pre-line">
          {{ 'authPages.description' | translate }}
        </p>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center p-4">
      @if (authMode() === 'login') {
        <app-login-form
          class="w-full max-w-xl"
          (switchToSignup)="authMode.set('signUp')"
          (switchToVerify)="authMode.set('verify')"
        />
      } @else if (authMode() === 'signUp') {
        <app-register-form
          class="w-full max-w-xl"
          (switchToLogin)="authMode.set('login')"
        />
      } @else if (authMode() === 'verify') {
        <app-verify-form
          class="w-full max-w-xl"
          (switchToLogin)="authMode.set('login')"
          (switchToNewPassword)="authMode.set('restore')"
        />
      } @else if (authMode() === 'restore') {
        <app-restore-form
          class="w-full max-w-xl"
          (switchToLogin)="authMode.set('login')"
        />
      }
    </div>
  </div>
  <footer class="flex items-center justify-between pt-4">
    <app-lang-button />
    <app-theme-button />
  </footer>
</div>
