<div class="@container w-full h-full p-6 max-md:p-4 flex flex-col bg-background-secondary rounded-3xl shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] relative">
  <div class="flex flex-row items-center justify-between mb-4 max-md:mb-3">
    <div class="flex items-center gap-2">
      <svg-icon src="assets/icons/lights_scenes.svg" [applyClass]="true" class="w-9 h-9 max-md:w-7 max-md:h-7 text-accent"></svg-icon>
      <h2 class="text-text-primary text-headline-h2-28-bold max-md:text-body-24-bold text-shadow-2xs pt-0.5">{{'lightsPage.scenes'| translate}}</h2>
    </div>
  </div>

  <div class="flex-1 flex flex-col w-full relative">
  </div>
</div>
