<div class="flex bg-background-secondary shadow-2xl rounded-md h-10 overflow-hidden">
  <button
    class="w-10 h-full rounded-l-md transition-all duration-300 flex items-center justify-center cursor-pointer text-body-25-bold"
    [class.bg-accent]="translationsService.currentLang() === 'pl'"
    [class.text-background-secondary]="translationsService.currentLang() === 'pl'"
    [class.text-accent]="translationsService.currentLang() !== 'pl'"
    (click)="translationsService.setLanguage('pl')"
  >
    PL
  </button>
  <button
    class="w-10 h-full rounded-r-md transition-all duration-300 flex items-center justify-center cursor-pointer text-body-25-bold"
    [class.bg-accent]="translationsService.currentLang() === 'en'"
    [class.text-background-secondary]="translationsService.currentLang() === 'en'"
    [class.text-accent]="translationsService.currentLang() !== 'en'"
    (click)="translationsService.setLanguage('en')"
  >
    EN
  </button>
</div>
