<div (appClickOutside)="isOpen() ? closeSettings.emit() : null"
     class="fixed top-14 right-2 sm:right-3 w-80 bg-background-secondary rounded-lg shadow-sm z-100 flex flex-col origin-top-right transition-all duration-200 ease-out opacity-0 scale-95 -translate-y-2 pointer-events-none"
     [class.opacity-0]="!isOpen()"
     [class.scale-95]="!isOpen()"
     [class.-translate-y-2]="!isOpen()"
     [class.pointer-events-none]="!isOpen()">

  <div class="pl-5 py-5 pr-3 flex flex-col w-full">
    <div class="flex items-center justify-between pb-4">
      <h2 class="text-body-18-bold text-text-primary">{{ 'home.navbar.settings' | translate }}</h2>
      <button (click)="closeSettings.emit()" class="text-text-primary hover:text-accent transition-colors w-8 h-8 flex items-center justify-center rounded-full hover:bg-background-tertiary">
        <svg-icon src="assets/icons/close.svg" [applyClass]="true" class="w-6 h-6 cursor-pointer"/>
      </button>
    </div>

    <div class="flex flex-col gap-2 mb-3">
      <h2 class="text-body-16-semibold text-text-primary">{{ 'home.settingsModal.account' | translate }}</h2>
      <div class="flex flex-col gap-1">
        <button class="flex items-center justify-between -mx-2 px-2 py-2 hover:bg-background-tertiary rounded-lg transition-colors group">
          <span class="text-body-14-medium text-text-primary group-hover:text-accent transition-colors">{{ 'home.settingsModal.changeUsername' | translate }}</span>
          <svg-icon src="assets/icons/right_arrow.svg" [applyClass]="true" class="w-6 h-6 text-text-primary opacity-60 group-hover:text-accent group-hover:opacity-100 transition-all"/>
        </button>

        <button class="flex items-center justify-between -mx-2 px-2 py-2 hover:bg-background-tertiary rounded-lg transition-colors group">
          <span class="text-body-14-medium text-text-primary group-hover:text-accent transition-colors">{{ 'home.settingsModal.changeEmail' | translate }}</span>
          <svg-icon src="assets/icons/right_arrow.svg" [applyClass]="true" class="w-6 h-6 text-text-primary opacity-60 group-hover:text-accent group-hover:opacity-100 transition-all"/>
        </button>

        <button class="flex items-center justify-between -mx-2 px-2 py-2 hover:bg-background-tertiary rounded-lg transition-colors group">
          <span class="text-body-14-medium text-text-primary group-hover:text-accent transition-colors">{{ 'home.settingsModal.changePassword' | translate }}</span>
          <svg-icon src="assets/icons/right_arrow.svg" [applyClass]="true" class="w-6 h-6 text-text-primary opacity-60 group-hover:text-accent group-hover:opacity-100 transition-all"/>
        </button>
      </div>
    </div>

    <div class="flex flex-col gap-3">
      <h2 class="text-body-16-semibold text-text-primary">{{ 'home.settingsModal.themeColor' | translate }}</h2>
      <div class="flex flex-row justify-start flex-wrap gap-4.5">
        <button class="w-8 h-8 rounded-full bg-blue-500 ring-2 ring-offset-2 ring-offset-background-secondary ring-accent transition-transform hover:scale-110 active:scale-95"></button>
        <button class="w-8 h-8 rounded-full bg-green-500 transition-transform hover:scale-110 active:scale-95 hover:ring-2 hover:ring-offset-2 hover:ring-offset-background-secondary hover:ring-accent"></button>
        <button class="w-8 h-8 rounded-full bg-orange-500 transition-transform hover:scale-110 active:scale-95 hover:ring-2 hover:ring-offset-2 hover:ring-offset-background-secondary hover:ring-accent"></button>
        <button class="w-8 h-8 rounded-full bg-purple-500 transition-transform hover:scale-110 active:scale-95 hover:ring-2 hover:ring-offset-2 hover:ring-offset-background-secondary hover:ring-accent"></button>
        <button class="w-8 h-8 rounded-full bg-pink-500 transition-transform hover:scale-110 active:scale-95 hover:ring-2 hover:ring-offset-2 hover:ring-offset-background-secondary hover:ring-accent"></button>
        <button class="w-8 h-8 rounded-full bg-teal-500 transition-transform hover:scale-110 active:scale-95 hover:ring-2 hover:ring-offset-2 hover:ring-offset-background-secondary hover:ring-accent"></button>
      </div>
    </div>

    <div class="flex flex-col  gap-3 pt-4 mt-2">
      <h2 class="text-body-16-semibold text-text-primary">{{ 'home.settingsModal.units' | translate }}</h2>

      <div class="flex items-center justify-between">
        <span class="text-body-14-medium text-text-primary">{{ 'home.settingsModal.temperature' | translate }}</span>
        <div class="flex items-center p-1">
          <button class="px-3 py-1 text-body-12-regular text-accent transition-all">°C</button>
          <button class="px-3 py-1 text-body-12-regular text-text-primary opacity-75 hover:opacity-100 transition-all">°F</button>
        </div>
      </div>

      <div class="flex items-center justify-between">
        <span class="text-body-14-medium text-text-primary">{{ 'home.settingsModal.pressure' | translate }}</span>
        <div class="flex items-center p-1">
          <button class="px-3 py-1 text-body-12-regular text-accent transition-all">hPa</button>
          <button class="px-3 py-1 text-body-12-regular text-text-primary opacity-75 hover:opacity-100 transition-all">mmHg</button>
        </div>
      </div>

      <div class="flex items-center justify-between">
        <span class="text-body-14-medium text-text-primary">{{ 'home.settingsModal.humidity' | translate }}</span>
        <div class="flex items-center p-1">
          <button class="px-3 py-1 text-body-12-regular text-accent transition-all">%</button>
          <button class="px-3 py-1 text-body-12-regular text-text-primary opacity-75 hover:opacity-100 transition-all">g/m³</button>
        </div>
      </div>

      <div class="flex items-center justify-between">
        <span class="text-body-14-medium text-text-primary">{{ 'home.settingsModal.gasConcentration' | translate }}</span>
        <div class="flex items-center p-1">
          <button class="px-3 py-1 text-body-12-regular text-accent transition-all">ppm</button>
          <button class="px-3 py-1 text-body-12-regular text-text-primary opacity-75 hover:opacity-100 transition-all">mg/m³</button>
        </div>
      </div>

      <div class="flex items-center justify-between">
        <span class="text-body-14-medium text-text-primary">{{ 'home.settingsModal.timeFormat' | translate }}</span>
        <div class="flex items-center p-1">
          <button class="px-3 py-1 text-body-12-regular text-accent transition-all">24h</button>
          <button class="px-3 py-1 text-body-12-regular text-text-primary opacity-75 hover:opacity-100 transition-all">12h</button>
        </div>
      </div>
    </div>
  </div>
</div>
