<div class="relative w-full h-12 flex items-center justify-between bg-background-secondary px-3 shadow-xl z-50">
  <div class="flex items-center gap-3">
    <img src="assets/pictures/home.png" alt="Logo" class="w-8 h-8" />
    <h1 class="text-body-24-bold pt-0.5 text-text-primary"
        [innerHTML]="'authPages.solidHome' | translate">
    </h1>
  </div>
  <div class="flex items-center gap-5 h-full">
    <a routerLink="/home" routerLinkActive="!text-accent border-b-3 border-accent" [routerLinkActiveOptions]="{exact: true}" class="h-full flex items-center text-text-primary text-body-16-semibold px-2 hover:text-accent">
      {{ 'home.navbar.home' | translate }}
    </a>
    <a routerLink="/lights" routerLinkActive="!text-accent border-b-3 border-accent" class="h-full flex items-center text-text-primary text-body-16-semibold px-2 hover:text-accent">
      {{ 'home.navbar.lights' | translate }}
    </a>
    <a routerLink="/gates" routerLinkActive="!text-accent border-b-3 border-accent" class="h-full flex items-center text-text-primary text-body-16-semibold px-2 hover:text-accent">
      {{ 'home.navbar.gatesAndDoors' | translate }}
    </a>
    <a routerLink="/air" routerLinkActive="!text-accent border-b-3 border-accent" class="h-full flex items-center text-text-primary text-body-16-semibold px-2 hover:text-accent">
      {{ 'home.navbar.air' | translate }}
    </a>
    <a routerLink="/security" routerLinkActive="!text-accent border-b-3 border-accent" class="h-full flex items-center text-text-primary text-body-16-semibold px-2 hover:text-accent">
      {{ 'home.navbar.security' | translate }}
    </a>
    <div class="flex items-center gap-5 ">
      <svg-icon src="assets/icons/settings.svg" [applyClass]="true" class="w-6 h-6 text-accent cursor-pointer transition-all duration-300 hover:scale-110 hover:brightness-125 active:scale-90"/>
      <svg-icon src="assets/icons/logout.svg" [applyClass]="true" class="w-6 h-6 text-accent cursor-pointer rotate-90 transition-all duration-300 hover:scale-110 hover:brightness-125 active:scale-90" (click)="logout()"/>
    </div>
  </div>
</div>
