<div class="w-full h-full p-6 flex flex-col bg-background-secondary rounded-3xl shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)]">
  <div class="flex flex-row items-center gap-2 mb-4">
    <svg-icon src="assets/icons/light_bulb.svg" [applyClass]="true" class="w-9 h-9 text-accent"></svg-icon>
    <h2 class="text-text-primary text-headline-h2-28-bold text-shadow-2xs pt-0.5">{{ 'home.lightsWidget.title' | translate }}</h2>
  </div>

  <div class="flex-3 w-full relative rounded-2xl overflow-hidden">
    <img ngSrc="assets/pictures/home_preview.png" alt="Preview" fill class="object-cover scale-[1]" />

    @for (light of lights(); track light.id) {
      <button (click)="toggleLight(light.id)"
              class="absolute p-2 rounded-full backdrop-blur-md transition-all duration-300 border border-white/20 hover:scale-110 active:scale-95"
              [style.top]="light.top"
              [style.left]="light.left"
              [ngClass]="{'bg-accent shadow-[0_0_15px_rgba(255,255,255,0.5)]': light.on, 'bg-white/30 shadow-md': !light.on}">
        <svg-icon src="assets/icons/light_bulb.svg" [applyClass]="true" class="w-6 h-6 text-white transition-colors"></svg-icon>
      </button>
    }
  </div>
  <div class="bg-accent -mx-6 h-1 opacity-10"></div>
  <div class="flex-1 w-full pt-6 overflow-y-auto">
    <div class="flex flex-row items-center gap-2 mb-4">
      <svg-icon src="assets/icons/history_of_use.svg" [applyClass]="true" class="w-9 h-9 text-accent"></svg-icon>
      <div class="text-text-primary text-body-18-bold">{{ 'home.lightsWidget.history' | translate }}</div>
    </div>
  </div>
</div>
