@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');

@theme {
  --font-app: "Sora", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-background-primary: var(--background-primary);
  --color-background-secondary: var(--background-secondary);
  --color-accent: var(--accent-color);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-divider: var(--divider);
}

:root {
  --background-primary: #efeeee;
  --background-secondary: #FFFFFF;
  --accent-color: #00C7CE;
  --text-primary: #363434;
  --text-secondary: #00C7CE;
  --divider: #BDBDBD;
}

.dark {
  --background-primary: #262525;
  --background-secondary: #1A1818;
  --accent-color: #00C7CE;
  --text-primary: #FFFFFF;
  --text-secondary: #00C7CE;
  --divider: #BDBDBD;
}


@utility text-headline-h1-36-bolid {
  font-family: var(--font-app), sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
}

@utility text-body-24-semibold {
  font-family: var(--font-app), sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
}


@utility text-body-18-bold {
  font-family: var(--font-app), sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.2;
}

@utility text-body-16-semibold {
  font-family: var(--font-app), sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
}

@utility text-body-16-medium {
  font-family: var(--font-app), sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
}

@utility text-body-14-medium {
  font-family: var(--font-app), sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
}

@utility text-body-14-regular {
  font-family: var(--font-app), sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2;
}

@utility text-body-15-bold {
  font-family: var(--font-app), sans-serif;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.2;
}

@utility text-body-12-regular {
  font-family: var(--font-app), sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.2;
}
