<div class="w-screen h-screen flex flex-col bg-background-primary">
  <app-navbar></app-navbar>
  <div class="flex-1 px-6 p-6 pb-0 flex flex-col relative z-10">
    <div class="flex flex-row gap-3 mb-4">
      <h2 class="text-text-primary text-headline-h1-36-bold text-shadow-2xs">{{ 'gatesAndDoorsPage.title' | translate }}</h2>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 flex-1 min-h-0">
    </div>
  </div>
  <footer class="flex items-center justify-between p-6">
    <app-lang-button />
    <app-theme-button />
  </footer>
</div>
